<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать темперамент</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_dog.ico') }}">
</head>
<body>
    <h1>Редактировать темперамент</h1>

        <nav>
        <a href="/">Главная</a> |
        <a href="/search">Поиск</a> |
        <a href="/view">Собаки</a> |
        <a href="/add">Добавить собаку</a> |
        <a href="/add_detailed">Добавить собаку (подробно)</a> |
        <a href="/breeds">Породы</a> |
        <a href="/locations">Места размещения</a> |
        <a href="/vet_examinations">Ветеринарные осмотры</a> |
        <a href="/getting">Получение приютом</a> |
        <a href="/stats">Статистика</a> |
        <a href="/sync_queries">Запросы синхр.</a> |
        <a href="/simple_query">Простой запрос</a>
    </nav>
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Редактирование темперамента (ID: {{ temp['id'] }})</h2>
    <form method="POST">
        <label for="temperament_name">Название темперамента (3-50 символов):</label><br>
        <input type="text" name="temperament_name" id="temperament_name" value="{{ temp['temperament_name'] }}" required><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
