<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать породу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_dog.ico') }}">
</head>
<body>
    <h1>Редактировать породу</h1>

        <nav>
        <a href="/">Главная</a> |
        <a href="/search">Поиск</a> |
        <a href="/view">Собаки</a> |
        <a href="/add">Добавить собаку</a> |
        <a href="/add_detailed">Добавить собаку (подробно)</a> |
        <a href="/breeds">Породы</a> |
        <a href="/locations">Места размещения</a> |
        <a href="/vet_examinations">Ветеринарные осмотры</a> |
        <a href="/getting">Получение приютом</a> |
        <a href="/stats">Статистика</a> |
        <a href="/sync_queries">Запросы синхр.</a>
    </nav>
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Редактирование породы (ID: {{ breed['id'] }})</h2>
    <form method="POST">
        <label for="breed_name">Название породы (3-100 символов):</label><br>
        <input type="text" name="breed_name" id="breed_name" value="{{ breed['breed_name'] }}" required><br>
        <label for="breed_group">Группа породы (опционально, 3-50 символов):</label><br>
        <input type="text" name="breed_group" id="breed_group" value="{{ breed['breed_group'] }}"><br>
        <label for="origin_country">Страна происхождения (опционально, 3-50 символов):</label><br>
        <input type="text" name="origin_country" id="origin_country" value="{{ breed['origin_country'] }}"><br>
        <label for="average_lifespan">Средняя продолжительность жизни (опционально, 1-25 лет):</label><br>
        <input type="number" name="average_lifespan" id="average_lifespan" min="1" max="25" value="{{ breed['average_lifespan'] }}"><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
