<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>База данных собак</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_dog.ico') }}">
</head>
<body>
    <h1>База данных собак</h1>
    <nav>
        <a href="/">Главная</a> |
        <a href="/search">Поиск</a> |
        <a href="/view">Собаки</a> |
        <a href="/add">Добавить собаку</a> |
        <a href="/breeds">Породы</a> |
        <a href="/locations">Места размещения</a> |
        <a href="/vet_examinations">Ветеринарные осмотры</a> |
        <a href="/stats">Статистика</a> |
        <a href="/queries">Запросы</a> |
        <a href="/sync_queries">Запросы синхр.</a>
    </nav>
    <p>Добро пожаловать! Используйте меню для работы с базой данных.</p>
    <p>Данная база данных была создана для удобного хранения информации, а также поиска в выбранной предметной области "Собаки".</p>
    <p>Работу выполнила студентка группы ИВТ-Б22 Калинина С.С.</p>
</body>
</html>