<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>База данных собак</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_dog.ico') }}">
</head>
<body>
    <h1>База данных собак</h1>
       <nav>
        <a href="/">Главная</a> |
        <a href="/add_detailed">Добавить</a> |
        <a href="/stats">Статистика</a> |
        <a href="/sync_queries">Поиск по атрибутам</a>
    </nav>
    <br>
    <a style="font-weight: bold;" href="{{ url_for('switch_db', db_number=1) }}">База данных SQLITE</a> |
    <a style="font-weight: bold;" href="{{ url_for('switch_db', db_number=2) }}">База данных POSTGRESQL</a>
    <br>
    {% if active_db_number == 1 %}
        <span style="font-weight: bold;">Сейчас выбрана база данных SQLITE</span>
        <img src="{{ url_for('static', filename='db1_icon.png') }}" alt="Иконка базы данных 1" style="vertical-align: middle; margin-left: 5px;">
    {% elif active_db_number == 2 %}
        <span style="font-weight: bold;">Сейчас выбрана база данных POSTGRESQL</span>
        <img src="{{ url_for('static', filename='db2_icon.png') }}" alt="Иконка базы данных 2" style="vertical-align: middle; margin-left: 5px;">
    {% else %}
        <p>База данных не выбрана</p>
    {% endif %}
    <p>Добро пожаловать! Используйте меню для работы с базой данных.</p>
    <p>Данная база данных была создана для удобного хранения информации, а также поиска в выбранной предметной области "Собаки".</p>
    <p>Работу выполнила студентка группы ИВТ-Б22 Калинина С.С.</p>
</body>
</html>
